/* ---- root ---- */
html {
	font-size: 20px;
}

/* ---- layout ---- */
.column_container{
    display: flex;
    align-items: center;
}

.column_container section {
	flex: 1;
}

/* ---- layout - special to 'cast' page ---- */
.cast_page .column_container section {
	border: 0.1rem solid red;
	padding: 0.2rem;
	margin: 0.2rem;

    text-align: center;
}

