body {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 18px; color: #000000; background-color: #000066; margin-top: 0px; margin-right: 0px; margin-bottom: 15px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px}

p {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; line-height: 18px; color: #000000; padding-right: 10px; padding-left: 10px; margin-top: 2px}

h3 {  padding-right: 10px; padding-left: 10px; padding-top: 10px; color: #333333; margin-bottom: 5px; font-family: Arial, Helvetica, sans-serif; font-size: 15px}
.sidebox {  color: #CCCCCC; border: 1px #FFFFCC solid; font-size: 11px; line-height: 17px; text-align: left}

a:link {  color: #FFFFCC; text-decoration: none}

a:hover {  color: #FFFFCC; border-color: black black #FFFFCC; border-style: dashed; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; margin-bottom: 3px}

a:visited { color: #FFFFCC; text-decoration: none }

a:active { color: #FFFFCC; border-color: black black #FFFFCC; border-style: dashed; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; margin-bottom: 3px }

h1 { padding-right: 10px; padding-left: 10px; padding-top: 10px; color: #333333; margin-bottom: 5px; font-family: Arial, Helvetica, sans-serif ; border-color: black black #333333; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; font-size: 18px; text-align: center}

li {  font-size: 11px; list-style-type: square; margin-bottom: 5px; padding-bottom: 5px}

h2 {  font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: #FFFFCC; margin-bottom: 3px}
input {  background-color: #3399CC; border: 1px #000000 solid; font-family: Arial, Helvetica, sans-serif; font-size: 12px}


b {
font-weight: bold
}

h4 {  font-size: 11px; font-weight: 600; color: #006699; padding-right: 10px; padding-left: 10px; margin-bottom:2px}

.link {  color: #006699}
.radio {  background-color: #FFFFFF; border: 0px}
.org {  color: #FFCC66 }
.link2 { color: #006699;  border-color: black black #006699; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; margin-bottom: 3px }

